extends layout

block prepend content
  .row
    .columns
      | This is not about revenge. This is about justice. Worf, It's better than music. It's jazz. Could someone survive inside a transporter buffer for 75 years? Is it my imagination, or have tempers become a little frayed on the ship lately? The look in your eyes, I recognize it. You used to have it for me. Our neural pathways have become accustomed to your sensory input patterns. Maybe if we felt any human loss as keenly as we feel one of those close to us, human history would be far less bloody. Ensign Babyface! Sure. You'd be surprised how far a hug goes with Geordi, or Worf. In all trust, there is the possibility for betrayal. You enjoyed that.
  .row
    .columns
      h4 Overall theme colors
  .row
    .columns
      h4 Illustration colors
  .row.colors
    .columns.small-5.medium-3
      ul
        li(style='background-color: #0a1723;') #0a1723
        li(style='background-color: #313156;') #313156
        li(style='background-color: #494a72;') #494a72
    .columns.small-7.medium-3
      | &nbsp;
    .columns.small-5.medium-3
      ul
        li(style='background-color: #ae2025;') #ae2025
        li(style='background-color: #ef9c74;') #ef9c74
        li(style='background-color: #ffeecc;') #ffeecc
    .columns.small-7.medium-3
      | &nbsp;
