extends layout

block prepend content
  if page.metadata.quote
    blockquote.intro
      .quote
        != page.metadata.quote
      .attribution
        span.author= page.metadata.quoteAuthor
        if page.metadata.quoteSource
          | ,&nbsp;
          span.source= page.metadata.quoteSource
        if page.metadata.quoteSourceItalic
          | ,&nbsp;
          em= page.metadata.quoteSourceItalic
